<header class="bg-white">
  <h1>[sn-ui]</h1>
  <h5>UI Components Library with Angular 17</h5>
  <div class="min-h-full">
    <nav class="border-b-2 py-2">
      <a
        href="#"
        class="rounded-md px-3 py-2 text-sm font-medium text-gray hover:text-white hover:bg-black"
        >Home</a
      >
      <a
        href="#"
        class="rounded-md px-3 py-2 text-sm font-medium text-gray hover:text-white hover:bg-black"
        >Components</a
      >
      <a
        href="#"
        class="rounded-md px-3 py-2 text-sm font-medium text-gray hover:text-white hover:bg-black"
        >Contact</a
      >
    </nav>
  </div>
</header>
<section class="pt-6">
  <h3 class="text-3xl text-blue-500 mb-4">List of Components</h3>
  <sn-list></sn-list>
</section>

