<header class="bg-white">
  <h1>[sn-ui]</h1>
  <h5>UI Components Library with Angular 17</h5>
  <div class="min-h-full">
    <nav class="border-b-2 py-2">
      <a
        href="#"
        class="rounded-md px-3 py-2 text-sm font-medium text-gray hover:text-white hover:bg-black"
        >Home</a
      >
      <a
        href="#"
        class="rounded-md px-3 py-2 text-sm font-medium text-gray hover:text-white hover:bg-black"
        >Components</a
      >
      <a
        href="#"
        class="rounded-md px-3 py-2 text-sm font-medium text-gray hover:text-white hover:bg-black"
        >Contact</a
      >
    </nav>
  </div>
</header>
<!-- <section class="pt-6">
  <h3 class="text-3xl text-blue-500 mb-4">List of Components</h3>
  <sn-list></sn-list>
</section> -->
<aside class="flex h-screen bg-white float-left  shadow-inner">
  <div class="w-64  p-4">
    <h1 class="text-lg font-bold">Components</h1>
    <ul>
      <li><a href="#" class="block rounded-md p-2 hover:bg-gray-200 transition duration-300"
        (click)="setComponentName('button')"
        >Button</a></li>
      <li><a href="#" class="block rounded-md p-2 hover:bg-gray-200 transition duration-300"
        (click)="setComponentName('card')">Card</a></li>
      <li><a href="#" class="block rounded-md p-2 hover:bg-gray-200 transition duration-300"
        (click)="setComponentName('input')">Input Text</a></li>

    </ul>

    <!-- Dropdown menu -->
    <!-- <div class="mt-4">
      <button class="bg-transparent focus:outline-none py-2 px-4 rounded-full border-2 border-gray-400 hover:border-blue-500">Dropdown Menu</button>
      <div class="hidden absolute bg-white mt-2 p-4 w-max text-left" role="menu">
        Dropdown menu items
      </div>
    </div> -->

    <!-- Other sidebar content here -->
  </div>

  
</aside>

<main class="flex shadow-md  h-full min-h-screen p-6">
  
    <!-- Your main content here -->
    <!-- <h1 class="text-lg font-bold">Main Content</h1> -->
    <sn-list [componentName]="componentNameToDisplay"></sn-list>

</main>


