<aside>
  <ul [style]="{ padding: 0, listStyle: 'none' }">
    @for(component of list;track $index){
    <li [innerHTML]="component | titlecase" (click)="display(component)"></li>
    }
  </ul>
</aside>
<main>
  @if(_display === 'button'){

  <div class="buttons">
    Text
    <sn-button>Default</sn-button>
    <sn-button scheme="primary" icon="coffee">Primary</sn-button>
    <sn-button scheme="warn" icon="viruscovid">Warn</sn-button>
    <sn-button scheme="danger" icon="bugs">Danger</sn-button>
    <sn-button scheme="success">Success</sn-button>
    <sn-button disabled>Default Disabled</sn-button>
    <code class="language-html">
      <pre>
      &lt;sn-button> Default &lt;/sn-button&gt; 
      &lt;sn-button scheme="primary" icon="coffee"> Primary &lt;/sn-button&gt; 
      &lt;sn-button scheme="warn" icon="viruscovid"> Warn &lt;/sn-button&gt; 
      &lt;sn-button scheme="danger" icon="bugs"> Danger &lt;/sn-button&gt; 
      &lt;sn-button scheme="success"> Success &lt;/sn-button&gt; 
      &lt;sn-button disabled> Default Disabled &lt;/sn-button&gt;</pre
      >
    </code>
  </div>
  <div class="buttons">
    Text Rounded
    <sn-button rounded>Default</sn-button>
    <sn-button scheme="primary" rounded>Primary</sn-button>
    <sn-button scheme="warn" rounded>Warn</sn-button>
    <sn-button scheme="danger" rounded>Danger</sn-button>
    <sn-button scheme="success" rounded>Success</sn-button>
    <sn-button disabled rounded>Default Disabled</sn-button>
    <code class="language-javascript">
      <pre>
    &lt;sn-button rounded> Default &lt;/sn-button>
    &lt;sn-button scheme="primary" rounded> Primary &lt;/sn-button>
    &lt;sn-button scheme="warn" rounded> Warn &lt;/sn-button>
    &lt;sn-button scheme="danger" rounded> Danger &lt;/sn-button>
    &lt;sn-button scheme="success" rounded> Success &lt;/sn-button>
    &lt;sn-button disabled rounded> Default Disabled &lt;/sn-button></pre
      >
    </code>
  </div>
  <div class="buttons">
    Text Filled
    <sn-button filled>Default</sn-button>
    <sn-button scheme="primary" filled>Primary</sn-button>
    <sn-button scheme="warn" filled>Warn</sn-button>
    <sn-button scheme="danger" filled>Danger</sn-button>
    <sn-button scheme="success" filled>Success</sn-button>
    <sn-button disabled filled>Default Disabled</sn-button>
    <code class="language-javascript">
      <pre>
    &lt;sn-button filled> Default &lt;/sn-button>
    &lt;sn-button scheme="primary" filled> Primary &lt;/sn-button>
    &lt;sn-button scheme="warn" filled> Warn &lt;/sn-button>
    &lt;sn-button scheme="danger" filled> Danger &lt;/sn-button>
    &lt;sn-button scheme="success" filled> Success &lt;/sn-button>
    &lt;sn-button disabled filled> Default Disabled &lt;/sn-button></pre
      >
    </code>
  </div>
  <div class="buttons">
    Text Filled Rounded
    <sn-button filled rounded>Default</sn-button>
    <sn-button scheme="primary" filled rounded>Primary</sn-button>
    <sn-button scheme="warn" filled rounded>Warn</sn-button>
    <sn-button scheme="danger" filled rounded>Danger</sn-button>
    <sn-button scheme="success" filled rounded>Success</sn-button>
    <sn-button disabled filled rounded>Default Disabled</sn-button>
    <code class="language-html">
      <pre>
    &lt;sn-button filled rounded>Default &lt;/sn-button>
    &lt;sn-button scheme="primary" filled rounded> Primary &lt;/sn-button>
    &lt;sn-button scheme="warn" filled rounded>Warn &lt;/sn-button>
    &lt;sn-button scheme="danger" filled rounded> Danger &lt;/sn-button>
    &lt;sn-button scheme="success" filled rounded> Success &lt;/sn-button>
    &lt;sn-button disabled filled rounded> Default Disabled &lt;/sn-button>
      </pre>
    </code>
  </div>
  <div class="buttons">
    Outlined
    <sn-button scheme="default-outlined">Default</sn-button>
    <sn-button scheme="primary-outlined">Primary outlined</sn-button>
    <sn-button scheme="warn-outlined">Warn</sn-button>
    <sn-button scheme="danger-outlined">Danger</sn-button>
    <sn-button scheme="success-outlined">Success</sn-button>
    <sn-button scheme="default-outlined" disabled
      >Default Outlined Disabled</sn-button
    >
    <code class="language-html">
      <pre>
    &lt;sn-button scheme="default-outlined"> Default &lt;/sn-button>
    &lt;sn-button scheme="primary-outlined"> Primary outlined &lt;/sn-button>
    &lt;sn-button scheme="warn-outlined"> Warn &lt;/sn-button>
    &lt;sn-button scheme="danger-outlined"> Danger &lt;/sn-button>
    &lt;sn-button scheme="success-outlined"> Success &lt;/sn-button>
    &lt;sn-button scheme="default-outlined" disabled> Default Outlined Disabled &lt;/sn-button></pre
      >
    </code>
  </div>
  <div class="buttons">
    Rounded
    <sn-button scheme="default-outlined" rounded>Default</sn-button>
    <sn-button scheme="primary-outlined" rounded>Primary outlined</sn-button>
    <sn-button scheme="warn-outlined" rounded>Warn</sn-button>
    <sn-button scheme="danger-outlined" rounded>Danger</sn-button>
    <sn-button scheme="success-outlined" rounded>Success</sn-button>
    <sn-button scheme="default-outlined" disabled rounded
      >Default Outlined Disabled</sn-button
    >
    <code class="language-html">
      <pre>
      &lt;sn-button scheme="default-outlined" rounded> Default &lt;/sn-button>
      &lt;sn-button scheme="primary-outlined" rounded> Primary outlined &lt;/sn-button>
      &lt;sn-button scheme="warn-outlined" rounded> Warn &lt;/sn-button>
      &lt;sn-button scheme="danger-outlined" rounded> Danger &lt;/sn-button>
      &lt;sn-button scheme="success-outlined" rounded> Success &lt;/sn-button>
      &lt;sn-button scheme="default-outlined" disabled rounded> Default Outlined Disabled &lt;/sn-button></pre
      >
    </code>
  </div>

  } @else if(_display === 'card'){
  <sn-card title="wow"
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae officia rem
    eaque reprehenderit iure facere quod earum. Placeat, ratione perspiciatis
    eligendi officia commodi ex temporibus alias ab, tempore eaque aliquid. Ad
    soluta ullam voluptate itaque, atque libero incidunt quibusdam vero repellat
    exercitationem pariatur ipsam omnis natus repudiandae non dignissimos illo
    saepe aut. Repellendus repudiandae iste tempora fugit quidem, provident
    excepturi.</sn-card
  >
  }@else if(_display ==='input'){
  <form>
    <sn-input type="text"></sn-input>
    <sn-input type="checkbox"></sn-input>
    <sn-input type="number"></sn-input>
    <sn-input type="date"></sn-input>
    <sn-input type="datetime-local"></sn-input>
    <sn-input type="email"></sn-input>
    <sn-input type="password"></sn-input>
    <sn-input type="color"></sn-input>
    <sn-input type="range"></sn-input>
  </form>
  }@else { Select Component 👆🏻 }
</main>
