:root {
  --background-color: #ffffff;
  --primary-color: #0078d7;
  --warn-color: #ffb900;
  --danger-color: #e81123;
  --success-color: #00cc6a;
  --light-grey-color: #ececec;
  --grey-1: #9e9e9e;
  --label-color: #4c4a48;
  --black-color: #000000;
  --black-1: #212121;
}
